.skills-section {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  background-color: teal;
}

.skills-section h1 {
  text-align: center;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-bottom: 70px;
  color: white;
  border-bottom: 1px solid white;
}

.skills-section img {
  height: 132px;
  width: 132px;
  display: block;
  margin: auto auto;
}

#js-skills {
  top: -7px;
}

#skills-list {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-size: 16px;
}

#skills-list strong {
  color: white;
}

#js-logo {
  height: 140px;
  width: 140px;
}

#terminal-image {
  height: 132px;
  width: 200px;
}

#bootstrap-logo {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 105px;
  width: 105px;
}
